# .gitignore

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE files
.vscode/
.idea/
*.iml

# Ignore build and dist files
/build/
/dist/
*.build

# Ignore node_modules
node_modules/

# Ignore logs
*.log

# Ignore temp files
*.tmp

# Ignore env files
.env

# Ignore coverage files
coverage/

# Ignore yarn and npm lock files
yarn.lock
package-lock.json